@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px;
    text-align: center;
}

input[type='text'], select {
  background-color: #444;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: .8rem 0;
  padding: .5rem 1rem;
  color: white;
  outline: none;
  transition: border .3s;
}

input[type='text']:focus {
  border: 1px solid blue;
}

input[type='text']::placeholder {
    color: gray;
}

select {
  margin-bottom: 2rem;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 3px;
  margin: 1rem;
  color: white;
}

.danger {
  background-color: rgba(255, 0, 0, 0.226);
  border: 1px solid red;
}

.alerta i {
  margin-right: 8px;
  font-size: 16px;
}

.primary {
  background-color: rgba(0, 60, 255, 0.226);
  border: 1px solid blue;
}

.left {
  margin-left: 4px;
}

.right {
  margin-right: 4px;
}

@media (max-width: 650px) {
  input[type='text'],
    select {
        padding: 1rem 1rem;
        font-size: 14px;
    }
}